@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

body {
    @apply bg-white;
}

.side-bar {
    z-index: 999;
    position: absolute;
    width: 250px;
    left: 3%;
}

.popup {
    margin: auto;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-post {
    width: 400px;
    height: 370;
    margin: auto;
    position: absolute;
    z-index: 999;
    top: 43%;
    left: 56%;
    transform: translate(-50%, -50%);
}
